<!DOCTYPE html>
<html>
  <head>
    <title><%- title -%></title>
    <%- include('import'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>

    <div class="container pt-5 pb-3">
    
        <div class="row justify-content-around py-5">

            <% projects.forEach((project) => {%>
              <%- include('project_card', {project: project}); -%>
            <% }); %>
            
        </div>

    </div>
    <div class="container-fluid fill-dark">
      <div class="container pt-5 pb-3">
        <div class="row justify-content-around">

            <% posts.forEach((post) => { %>
              <%- include('post_card', {post: post}); -%>
            <% }); %>
            
        </div>
      </div>

    </div>

    <%- include('footer'); -%>
  </body>
</html>
